body {
    background-color: #BBBBBB;
}

header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.5 em;
    margin: 2em 20em;

}

#banner {
    margin: 20px 0;
    width: 100%;
}

.principal {
    background-color: #BBBBBB;
    padding: 20px;

}


h1 {
    display: inline-block;
    text-align: center;
    font-size: 50px;
    color: #c78c19;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30 px auto;
}


p {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
}



em strong {
    color: #c78c19;

}

#mision {
    font-size: 25px;
    text-emphasis-color: #c78c19;
}

h2 {
    font-size: 35px;
    color: #c78c19;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;

}

.items {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin: 30px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

h3 {
    font-size: 25px;
    color: #c78c19;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}

.caracteristicas {
    background-color: rgb(239, 242, 252);
    padding: 30px;
}

.imgCaracteristicas {
    width: 15%;
    height: 15%;

}